@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:ital,wght@0,300;1,400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap');



* {
  box-sizing: border-box;
}

/** Stile corpo della pagina **/

html,
body {
  height: 100%;
}


body {
 
  background-size: cover;
  background-image: url("/TicketStageApp/img/SfondoLogin.jpg");
  background-position: center;
  background-attachment: fixed;
}

/** stile per la navbar **/

.container-fluid {
  background-color: rgb(255, 255, 255);
  padding-top: 10px;
  padding-bottom: 10px;  
  margin-bottom: -10px;
  margin-top: -10px;

}

.nav-link {
  text-decoration: none;
  background-color: transparent;
  /* Sfondo trasparente di default */
  border-radius: 10px;
  margin-right: 10px;
  transition: all 0.5s;
  font-family: 'Old Standard TT';  
  margin-top: 20px;
  padding: 10px;
  

}

/* Stile quando il cursore è sopra il link */
.nav-link:hover {
  background-color: rgba(209, 59, 32, 0.938);
  /* Cambia il colore dello sfondo quando il cursore è sopra il link */
  color: #fff !important;

}

.dropdown-item {
  font-family: 'Old Standard TT';

}


/** Stile per l'header e i titoli **/


.testata {
  width: 90%;
  height: 30%;
  padding: 30px;
  padding-bottom: 5%;
  margin: 0 auto;

}

header {  
  background-image: url("/TicketStageApp/img/TeatroCarignano.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  border-radius: 15px;
  
}

.titolone {
  font-size: 65px;
  color: rgb(255, 255, 255);
  font-family: 'Old Standard TT';
  font-weight: 700;  
  text-shadow: 4px 4px 6px black;
  font-style: italic;
  font-size: bold;

}

.subtitolo {
  color: #ffffff;
  font-family:'Old Standard TT'; 
  text-shadow: 2px 2px 4px black;
  text-align:top;

}

.h2{
  font-size: 45px;
  color: rgb(255, 255, 255);
  font-family: 'Old Standard TT';
  font-weight: 400;  
  text-shadow: 4px 4px 6px black;
  font-style: italic;
  font-size: bold;
  padding-top: 4%;
  padding-bottom: 3%;
  text-align: center;

  
}

.titolo {  
  color: rgb(206, 6, 6);
  font-family: 'Old Standard TT';
  font-weight: 400;  
  text-shadow: 4px 4px 6px black;
  font-style: italic;
  font-size: 45px;
  width: 20px;  

}

.p2 {  
  padding-left: 5%;
  font-family: 'Old Standard TT';
  font-style: italic;
  font-size: 25px;
}



/* Main Content */

.pos {
 margin: 0 auto;
 height: 50px;
 background-image: cover;
}

.info {
  text-align: right;
}

.show-item {  /**modifiche sfondo dei div biglietti **/
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  border: 1px solid black;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 30px;
  border-radius: 15px;
  
}

.show-image img {
  max-width: 200px;
  height: auto;
  margin-right: 20px;
}


.btn-buy {
  padding: 10px 20px;
  background-color: rgb(199, 36, 36);
  color: #fff;
  cursor: pointer;
  border-radius: 10px;  
  

}

/**footer**/


.footer {
  border-top: 1px solid rgb(214, 207, 207);
  margin: 3% 15% 0px 15%;  
}

.icone {
  margin-left: 8%;  
  padding-left: 110px;
}

.site-footer {
  background-color: #ffffff;
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: #000000;

}

.site-footer hr {
  border-top-color: #bbb;
  opacity: 0.5;
}

.site-footer hr.small {
  margin: 20px 0;
}

.site-footer h6 {
  color: #000000;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px;
  font-family: 'Old Standard TT';
}

.site-footer a {
  color: #000000;
}

.site-footer a:hover {
  color: #3366cc;
  text-decoration: none;
}

.footer-links {
  padding-left: 0;
  list-style: none;
}

.footer-links li {
  display: block;
}

.footer-links a {
  color: #000000;
}

.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
  color: #3366cc;
  text-decoration: none;
}

.footer-links.inline li {
  display: inline-block;
}

.site-footer .social-icons {
  text-align: right;
}

.site-footer .social-icons a {
  width: 40px; 
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
  background-color: #33353d;
}

.text-justify {
  font-family: 'Old Standard TT';
  font-weight: 400;  
}

.copyright-text {
  margin: 0;
}

.row {
  padding-left: 15%;
}

@media (max-width: 991px) {
  .site-footer [class^="col-"] {
    margin-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .site-footer {
    padding-bottom: 0;
  }

  .site-footer .copyright-text,
  .site-footer .social-icons {
    text-align: center;
  }
}

.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.social-icons li {
  display: inline-block;
  margin-bottom: 4px;
}

.social-icons li.title {
  margin-right: 15px;
  text-transform: uppercase;
  color: #96a2b2;
  font-weight: 700;
  font-size: 13px;
}

.social-icons a {
  background-color: #eceeef;
  color: #818a91;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
  color: rgb(0, 0, 0);
  background-color: #29aafe;
}

.social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px;
}

.social-icons a.facebook:hover {
  background-color: #3b5998;
}

.social-icons a.twitter:hover {
  background-color: #00aced;
}

.social-icons a.linkedin:hover {
  background-color: #007bb6;
}

.social-icons a.dribbble:hover {
  background-color: #ea4c89;
}

@media (max-width: 767px) {
  .social-icons li.title {
    display: block;
    margin-right: 0;
    font-weight: 600;
  }
}

@media (max-width: 767px) {
  .social-icons li.title {
    display: block;
    margin-right: 0;
    font-weight: 600;
  }
}


@media (max-width: 600px) {
  .icone {
    display: none;
  }
}

@media (min-width: 767px) {
  .icone {
    display: none;
  }
}

